<!-- <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color: transparent; border-right: 1px solid black;">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-black min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-black text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item" >
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house" style="color: red;"></i> <span class="ms-1 d-none d-sm-inline text-dark fs-5 p-2">Home</span>
                        </a>
                    </li>
                    
                    <li class="pt-2">
                        <a href="#" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2" style="color: red;"></i> <span class="ms-1 d-none d-sm-inline text-dark fs-5 p-2">Dashboard</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
                            </li>
                        </ul>
                    </li>
                    <li class="pt-2"> 
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-bar-chart" style="color: red;"></i> <span class="ms-1 d-none d-sm-inline text-dark fs-5 p-2">Analytics</span>
                        </a>
                    </li>
                    <li class="pt-2">
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table" style="color: red;"></i> <span class="ms-1 d-none d-sm-inline text-dark fs-5 p-2">Orders</span></a>
                    </li>
                    <li class="pt-2">
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-credit-card" style="color: red;"></i> <span class="ms-1 d-none d-sm-inline text-dark fs-5 p-2">Payments</span>
                        </a>
                    </li>
                    <li class="pt-2">
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid" style="color: red;"></i> <span class="ms-1 d-none fs-5 p-2 d-sm-inline text-dark">Products</span> </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0 text-dark"> <span class="d-none d-sm-inline">Product</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-dark"> <span class="d-none d-sm-inline ">Catagory</span> 2</a>
                            </li>
                            <li>
                                <a routerLink="/Home" class="nav-link px-0 text-dark"> <span class="d-none d-sm-inline">Product</span> 3</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 text-dark"> <span class="d-none d-sm-inline">Product</span> 4</a>
                            </li>
                        </ul>
                    </li>
                    <li class="pt-2">
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people" style="color: red;"></i> <span class="ms-1 d-none d-sm-inline text-dark fs-5 p-2">Customers</span> </a>
                    </li>
                    <li class="pt-2">
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-gear" style="color: red;"></i> <span class="ms-1 d-none d-sm-inline text-dark fs-5 p-2">Settings</span>
                        </a>
                    </li>
                </ul>
                <hr>
                
            </div>
        </div>
        <div class="col py-3">
            Content area...
        </div>
    </div>
</div> -->
